{{define "page-title"}}Home{{end}}

{{define "page-body"}}
<h2>Latest Snippets</h2>
{{if .Snippets}}
<table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
    </tr>
    {{range .Snippets}}
    <tr>
        <td><a href="/snippet/{{.ID}}">{{.Title}}</a></td>
        <td>{{humanDate .Created}}, {{.Created.Weekday}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>There is nothing to see here yet!</p>
{{end}}
{{- end}}

{{define "page-footer"}}
Enjoy your stay!
{{- end}}