{{define "page-title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "page-body"}}
    {{with .Flash}}
    <div class="flash">{{.}}</div>
    {{end}}
    {{with .Snippet}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            <time>{{.Created | humanDate | printf "Created: %s"}}</time>
            <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
        </div>
        <div class="metadata">
            <form action="/snippet/{{.ID}}" method="post">
                <input type="submit" value="Delete" name="delete">
            </form>
        </div>
    </div>
    {{else}}
    No snippets to display!
    {{end}}
{{- end}}

{{define "page-footer"}}
Enjoy your stay!
{{- end}}